{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser":true,
        "node": true
    },
    "rules": {
        "object-curly-spacing": "off",
        "require-jsdoc": "off",
        "operator-linebreak": ["error", "none", { "overrides": {".": "before", "=": "after", "?": "before", ":": "before"}}],
        "indent": "off",
        "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }]
    },
    "extends": ["eslint:recommended", "google"]
}